*.pyc
*.pyo
*.pyd

__pycache__/
env/
.venv/
build/

dist/
*.egg-info/
.DS_Store
.vscode/
.idea/
.ipynb_checkpoints
coverage

# Logs
*.log
npm-debug.log*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage

.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints
# pyenv
.python-version
# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/
# pytype static type analyzer
.pytype/

#ruff cache
.ruff_cache/

#pytest cache
.pytest_cache/

# results
results/*
!results/.gitkeep


#frontend/.gitignore
frontend/__pycache__/
frontend/*.pyc
frontend/env/
frontend/.venv/
frontend/build/
frontend/dist/
frontend/*.egg-info/
frontend/.DS_Store
frontend/.vscode/
frontend/coverage
frontend/*.log
frontend/.pytest_cache/
frontend/.mypy_cache/
frontend/.ruff_cache/
frontend/.tox/
frontend/.nox/
frontend/htmlcov/
frontend/.cache/
frontend/.python-version
frontend/.pyre/
frontend/.pytype/

